# Aplicamos el mismo Código al SXXP:

In [1]:
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import holidays
%matplotlib inline

In [2]:
# ELimina los warnings en la salida de la celda
warnings.simplefilter('ignore')

In [3]:
# Carga de datos de fichero pickle (9010, 31306) Ultimos 30 Años
data_sp = pd.read_pickle("C:/Users/pk_ai/Desktop/TFM/Datos INICIALES/data_componentes_SXXP.pkl")

In [4]:
data_sp_copy = data_sp

In [5]:
data_sp_copy.shape

(8066, 37793)

In [6]:
# Definir Año para filtrar
start_date  =  '2015-01-01'
data_sp['date'] = data_sp_copy.index
data_sp_copy.reset_index(drop=True)

     0876218D LN Equity                                                     \
                   open high low close volume bid ask open_int cur_mkt_cap
0                   NaN  NaN NaN   NaN    NaN NaN NaN      NaN         NaN
1                   NaN  NaN NaN   NaN    NaN NaN NaN      NaN         NaN
2                   NaN  NaN NaN   NaN    NaN NaN NaN      NaN         NaN
3                   NaN  NaN NaN   NaN    NaN NaN NaN      NaN         NaN
4                   NaN  NaN NaN   NaN    NaN NaN NaN      NaN         NaN
...                 ...  ...  ..   ...    ...  ..  ..      ...         ...
8061                NaN  NaN NaN   NaN    NaN NaN NaN      NaN         NaN
8062                NaN  NaN NaN   NaN    NaN NaN NaN      NaN         NaN
8063                NaN  NaN NaN   NaN    NaN NaN NaN      NaN         NaN
8064                NaN  NaN NaN   NaN    NaN NaN NaN      NaN         NaN
8065                NaN  NaN NaN   NaN    NaN NaN NaN      NaN         NaN

               ... ZURN VX Equity                            \
     pe_ratio  ...  return_on_cap return_com_eqy net_income
0         NaN  ...            NaN            NaN        NaN
1         NaN  ...            NaN            NaN        NaN
2         NaN  ...            NaN            NaN        NaN
3         NaN  ...            NaN            NaN        NaN
4         NaN  ...            NaN            NaN        NaN
...       ...  ...            ...            ...        ...
8061      NaN  ...            NaN            NaN        NaN
8062      NaN  ...            NaN            NaN        NaN
8063      NaN  ...            NaN            NaN        NaN
8064      NaN  ...            NaN            NaN        NaN
8065      NaN  ...            NaN            NaN        NaN

                                                                           \
     short_and_long_term_debt sales_rev_turn gross_profit announcement_dt
0                         NaN            NaN          NaN             NaN
1                         NaN            NaN          NaN             NaN
2                         NaN            NaN          NaN             NaN
3                         NaN            NaN          NaN             NaN
4                         NaN            NaN          NaN             NaN
...                       ...            ...          ...             ...
8061                      NaN            NaN          NaN             NaN
8062                      NaN            NaN          NaN             NaN
8063                      NaN            NaN          NaN             NaN
8064                      NaN            NaN          NaN             NaN
8065                      NaN            NaN          NaN             NaN

                                  date
     total_equity close_adj
0             NaN       NaN 1989-07-05
1             NaN       NaN 1989-07-06
2             NaN       NaN 1989-07-07
3             NaN       NaN 1989-07-10
4             NaN       NaN 1989-07-11
...           ...       ...        ...
8061          NaN       NaN 2019-10-02
8062          NaN       NaN 2019-10-03
8063          NaN       NaN 2019-10-04
8064          NaN       NaN 2019-10-07
8065          NaN       NaN 2019-10-08

[8066 rows x 37794 columns]

In [7]:
# Aqui se filtra
data_sp_copy['date']=pd.to_datetime(data_sp_copy['date'])
datefilter  =  (data_sp_copy['date']  >  start_date )
data_sp_copy  =  data_sp_copy.loc[datefilter]

In [8]:
# resetear index
data_sp_copy.index = range(data_sp_copy.shape[0])

In [9]:
# guardar date en dataframe 
date = pd.DataFrame(data_sp_copy['date'])
date['date'] =  pd.to_datetime(date['date'])

In [10]:
# extraer nombres de compañias
company=[]
for i in data_sp_copy.columns:
    company.append(i[0])

In [11]:
company = list(dict.fromkeys(company))

In [12]:
def check(word, list):
    if word in list:
        print("word is in the list!")
    else:
        print("word is not in the list!")
check('date', company)

word is in the list!

In [13]:
# elimino date
removeWord = ['date']
company = [word for word in company if word not in removeWord]
check('date', company)

word is not in the list!

In [14]:
# creo una lista con cada companias como dataframe
dataframes = []
for i in company:
    dataframes.append(data_sp_copy[i])

In [15]:
# creo la columna company con cada nombre de la compañia
j=0
for i in company:
    #dataframes[j]['Company'] = i
    dataframes[j]['Date'] = date['date']
    j += 1

In [16]:
#Crear dataframe de tiempo con todos los dias (porque no estaban en el Accurate Quand data)
Timeframe = pd.date_range(start='1/01/2015', end='10/08/2019')
Timeframe = pd.DataFrame(Timeframe)
Timeframe.columns = ['Date']

In [17]:
# Añado los días que faltaban
j = 0
for i in dataframes:
    dataframes[j] = pd.merge(dataframes[j], Timeframe, on='Date', how='outer')
    dataframes[j].sort_values(by = ['Date'], inplace = True)
    dataframes[j] = dataframes[j].reset_index(drop=True)
    j += 1

In [18]:
# creo la columna company con cada nombre de la compañia
#j=0
#for i in company:
    #dataframes[j]['Company'] = i
#    j += 1

In [19]:
# Crear una variable para cada dataframe
# for i, val in enumerate(dataframes): 
#     globals()["dataframe_Sep_%d"%i] = val

In [20]:
# obtengo los holidays para UnitedStates en una lista para los años 2015-16-17-18-19
years = [2015, 2016, 2017, 2018, 2019]
holidays_date = []
for i in years:
    for j in holidays.UnitedStates(years=i).items():
        holidays_date.append(str(j[0]))

In [21]:
# Se crea una columna con 1 si el dia coincide con la lista creada de dias holidays
j = 0
for i in dataframes:
    dataframes[j].loc[dataframes[j]['Date'].isin(holidays_date), 'Holiday'] = 1
    j += 1

In [22]:
# Creo la columna Profitability ((close-open)/open*100) y Day_Week
# Si Week_day es Sabado o domingo o esa fecha es festiva ponme un 0 en el profitability porque no ha habido movimiento
j = 0
for i in dataframes:
    dataframes[j]['Day_Week'] = dataframes[j]['Date'].dt.weekday_name
    dataframes[j]['Month'] = dataframes[j]['Date'].dt.month
    dataframes[j]['YearMonth'] = dataframes[j]['Date'].dt.to_period('M')
    dataframes[j]['Profitability'] = (dataframes[j]['close']-dataframes[j]['open'])/dataframes[j]['open']*100
    dataframes[j].loc[(dataframes[j]['Day_Week'] == 'Saturday') | (dataframes[j]['Day_Week'] == 'Sunday') | (dataframes[j]['Holiday'] == 1), 'Profitability'] = 0
    j += 1

# Hasta aquí todo funciona de forma correcta.

# Celda que falla ya que hace que se ddeban de ejecutar 5 veces

In [23]:
test = dataframes.copy()

In [24]:
len(test)

1394

In [26]:
dejar = []

In [29]:
## Revisar por que se tiene que ranear 5 veces aprox.
for j,i in enumerate(test):
    if i['Profitability'].isnull().mean() < 0.15:
        dejar.append(j)

test = [x for j,x in enumerate(test) if j in dejar]

In [30]:
len(test)

848

# el for se ejecuta hasta llegar al valor final de long de lista 656

In [31]:
j = 0
for i in test:
    print('Dataset: ' + str(j) + ' | Null Values Profitability: ' + str(test[j]['Profitability'].isnull().sum()))
    j += 1

Dataset: 0 | Null Values Profitability: 117
Dataset: 1 | Null Values Profitability: 232
Dataset: 2 | Null Values Profitability: 39
Dataset: 3 | Null Values Profitability: 31
Dataset: 4 | Null Values Profitability: 52
Dataset: 5 | Null Values Profitability: 39
Dataset: 6 | Null Values Profitability: 31
Dataset: 7 | Null Values Profitability: 51
Dataset: 8 | Null Values Profitability: 51
Dataset: 9 | Null Values Profitability: 39
Dataset: 10 | Null Values Profitability: 31
Dataset: 11 | Null Values Profitability: 250
Dataset: 12 | Null Values Profitability: 31
Dataset: 13 | Null Values Profitability: 31
Dataset: 14 | Null Values Profitability: 39
Dataset: 15 | Null Values Profitability: 31
Dataset: 16 | Null Values Profitability: 31
Dataset: 17 | Null Values Profitability: 31
Dataset: 18 | Null Values Profitability: 31
Dataset: 19 | Null Values Profitability: 51
Dataset: 20 | Null Values Profitability: 51
Dataset: 21 | Null Values Profitability: 39
Dataset: 22 | Null Values Profitability: 31
Dataset: 23 | Null Values Profitability: 29
Dataset: 24 | Null Values Profitability: 58
Dataset: 25 | Null Values Profitability: 31
Dataset: 26 | Null Values Profitability: 29
Dataset: 27 | Null Values Profitability: 31
Dataset: 28 | Null Values Profitability: 39
Dataset: 29 | Null Values Profitability: 39
Dataset: 30 | Null Values Profitability: 31
Dataset: 31 | Null Values Profitability: 31
Dataset: 32 | Null Values Profitability: 39
Dataset: 33 | Null Values Profitability: 31
Dataset: 34 | Null Values Profitability: 42
Dataset: 35 | Null Values Profitability: 31
Dataset: 36 | Null Values Profitability: 43
Dataset: 37 | Null Values Profitability: 53
Dataset: 38 | Null Values Profitability: 31
Dataset: 39 | Null Values Profitability: 53
Dataset: 40 | Null Values Profitability: 53
Dataset: 41 | Null Values Profitability: 31
Dataset: 42 | Null Values Profitability: 31
Dataset: 43 | Null Values Profitability: 52
Dataset: 44 | Null Values Profitability: 52
Dataset: 45 | Null Values Profitability: 51
Dataset: 46 | Null Values Profitability: 31
Dataset: 47 | Null Values Profitability: 51
Dataset: 48 | Null Values Profitability: 88
Dataset: 49 | Null Values Profitability: 31
Dataset: 50 | Null Values Profitability: 43
Dataset: 51 | Null Values Profitability: 32
Dataset: 52 | Null Values Profitability: 58
Dataset: 53 | Null Values Profitability: 66
Dataset: 54 | Null Values Profitability: 39
Dataset: 55 | Null Values Profitability: 51
Dataset: 56 | Null Values Profitability: 31
Dataset: 57 | Null Values Profitability: 245
Dataset: 58 | Null Values Profitability: 31
Dataset: 59 | Null Values Profitability: 63
Dataset: 60 | Null Values Profitability: 39
Dataset: 61 | Null Values Profitability: 31
Dataset: 62 | Null Values Profitability: 17
Dataset: 63 | Null Values Profitability: 43
Dataset: 64 | Null Values Profitability: 51
Dataset: 65 | Null Values Profitability: 51
Dataset: 66 | Null Values Profitability: 39
Dataset: 67 | Null Values Profitability: 31
Dataset: 68 | Null Values Profitability: 31
Dataset: 69 | Null Values Profitability: 52
Dataset: 70 | Null Values Profitability: 31
Dataset: 71 | Null Values Profitability: 52
Dataset: 72 | Null Values Profitability: 31
Dataset: 73 | Null Values Profitability: 39
Dataset: 74 | Null Values Profitability: 31
Dataset: 75 | Null Values Profitability: 63
Dataset: 76 | Null Values Profitability: 91
Dataset: 77 | Null Values Profitability: 40
Dataset: 78 | Null Values Profitability: 39
Dataset: 79 | Null Values Profitability: 24
Dataset: 80 | Null Values Profitability: 39
Dataset: 81 | Null Values Profitability: 51
Dataset: 82 | Null Values Profitability: 51
Dataset: 83 | Null Values Profitability: 52
Dataset: 84 | Null Values Profitability: 51
Dataset: 85 | Null Values Profitability: 51
Dataset: 86 | Null Values Profitability: 39
Dataset: 87 | Null Values Profitability: 31
Dataset: 88 | Null Values Profitability: 39
Dataset: 89 | Null Values Profitability: 51
Dataset: 90 | Null Values Profitability: 43
Dataset: 91 | Null Values Profitability: 39
Dataset: 92 | Null Values Profitability: 29
Dataset: 93 | Null Values Profitability: 31
Dataset: 94 | Null Values Profitability: 39
Dataset: 95 | Null Values Profitability: 39
Dataset: 96 | Null Values Profitability: 31
Dataset: 97 | Null Values Profitability: 39
Dataset: 98 | Null Values Profitability: 43
Dataset: 99 | Null Values Profitability: 31
Dataset: 100 | Null Values Profitability: 51
Dataset: 101 | Null Values Profitability: 39
Dataset: 102 | Null Values Profitability: 51
Dataset: 103 | Null Values Profitability: 31
Dataset: 104 | Null Values Profitability: 43
Dataset: 105 | Null Values Profitability: 31
Dataset: 106 | Null Values Profitability: 31
Dataset: 107 | Null Values Profitability: 39
Dataset: 108 | Null Values Profitability: 39
Dataset: 109 | Null Values Profitability: 52
Dataset: 110 | Null Values Profitability: 16
Dataset: 111 | Null Values Profitability: 51
Dataset: 112 | Null Values Profitability: 39
Dataset: 113 | Null Values Profitability: 40
Dataset: 114 | Null Values Profitability: 31
Dataset: 115 | Null Values Profitability: 31
Dataset: 116 | Null Values Profitability: 39
Dataset: 117 | Null Values Profitability: 40
Dataset: 118 | Null Values Profitability: 31
Dataset: 119 | Null Values Profitability: 243
Dataset: 120 | Null Values Profitability: 43
Dataset: 121 | Null Values Profitability: 16
Dataset: 122 | Null Values Profitability: 32
Dataset: 123 | Null Values Profitability: 31
Dataset: 124 | Null Values Profitability: 43
Dataset: 125 | Null Values Profitability: 39
Dataset: 126 | Null Values Profitability: 31
Dataset: 127 | Null Values Profitability: 31
Dataset: 128 | Null Values Profitability: 52
Dataset: 129 | Null Values Profitability: 43
Dataset: 130 | Null Values Profitability: 39
Dataset: 131 | Null Values Profitability: 39
Dataset: 132 | Null Values Profitability: 225
Dataset: 133 | Null Values Profitability: 31
Dataset: 134 | Null Values Profitability: 39
Dataset: 135 | Null Values Profitability: 39
Dataset: 136 | Null Values Profitability: 36
Dataset: 137 | Null Values Profitability: 58
Dataset: 138 | Null Values Profitability: 51
Dataset: 139 | Null Values Profitability: 31
Dataset: 140 | Null Values Profitability: 39
Dataset: 141 | Null Values Profitability: 39
Dataset: 142 | Null Values Profitability: 39
Dataset: 143 | Null Values Profitability: 39
Dataset: 144 | Null Values Profitability: 31
Dataset: 145 | Null Values Profitability: 31
Dataset: 146 | Null Values Profitability: 31
Dataset: 147 | Null Values Profitability: 31
Dataset: 148 | Null Values Profitability: 39
Dataset: 149 | Null Values Profitability: 58
Dataset: 150 | Null Values Profitability: 39
Dataset: 151 | Null Values Profitability: 52
Dataset: 152 | Null Values Profitability: 39
Dataset: 153 | Null Values Profitability: 43
Dataset: 154 | Null Values Profitability: 39
Dataset: 155 | Null Values Profitability: 39
Dataset: 156 | Null Values Profitability: 31
Dataset: 157 | Null Values Profitability: 55
Dataset: 158 | Null Values Profitability: 43
Dataset: 159 | Null Values Profitability: 39
Dataset: 160 | Null Values Profitability: 56
Dataset: 161 | Null Values Profitability: 51
Dataset: 162 | Null Values Profitability: 51
Dataset: 163 | Null Values Profitability: 51
Dataset: 164 | Null Values Profitability: 33
Dataset: 165 | Null Values Profitability: 39
Dataset: 166 | Null Values Profitability: 58
Dataset: 167 | Null Values Profitability: 39
Dataset: 168 | Null Values Profitability: 39
Dataset: 169 | Null Values Profitability: 51
Dataset: 170 | Null Values Profitability: 51
Dataset: 171 | Null Values Profitability: 115
Dataset: 172 | Null Values Profitability: 51
Dataset: 173 | Null Values Profitability: 39
Dataset: 174 | Null Values Profitability: 39
Dataset: 175 | Null Values Profitability: 39
Dataset: 176 | Null Values Profitability: 31
Dataset: 177 | Null Values Profitability: 31
Dataset: 178 | Null Values Profitability: 39
Dataset: 179 | Null Values Profitability: 33
Dataset: 180 | Null Values Profitability: 31
Dataset: 181 | Null Values Profitability: 58
Dataset: 182 | Null Values Profitability: 31
Dataset: 183 | Null Values Profitability: 43
Dataset: 184 | Null Values Profitability: 31
Dataset: 185 | Null Values Profitability: 39
Dataset: 186 | Null Values Profitability: 39
Dataset: 187 | Null Values Profitability: 39
Dataset: 188 | Null Values Profitability: 16
Dataset: 189 | Null Values Profitability: 39
Dataset: 190 | Null Values Profitability: 213
Dataset: 191 | Null Values Profitability: 39
Dataset: 192 | Null Values Profitability: 31
Dataset: 193 | Null Values Profitability: 51
Dataset: 194 | Null Values Profitability: 51
Dataset: 195 | Null Values Profitability: 39
Dataset: 196 | Null Values Profitability: 43
Dataset: 197 | Null Values Profitability: 58
Dataset: 198 | Null Values Profitability: 43
Dataset: 199 | Null Values Profitability: 43
Dataset: 200 | Null Values Profitability: 39
Dataset: 201 | Null Values Profitability: 143
Dataset: 202 | Null Values Profitability: 147
Dataset: 203 | Null Values Profitability: 31
Dataset: 204 | Null Values Profitability: 58
Dataset: 205 | Null Values Profitability: 43
Dataset: 206 | Null Values Profitability: 31
Dataset: 207 | Null Values Profitability: 31
Dataset: 208 | Null Values Profitability: 39
Dataset: 209 | Null Values Profitability: 24
Dataset: 210 | Null Values Profitability: 31
Dataset: 211 | Null Values Profitability: 16
Dataset: 212 | Null Values Profitability: 51
Dataset: 213 | Null Values Profitability: 39
Dataset: 214 | Null Values Profitability: 43
Dataset: 215 | Null Values Profitability: 39
Dataset: 216 | Null Values Profitability: 39
Dataset: 217 | Null Values Profitability: 39
Dataset: 218 | Null Values Profitability: 53
Dataset: 219 | Null Values Profitability: 58
Dataset: 220 | Null Values Profitability: 51
Dataset: 221 | Null Values Profitability: 39
Dataset: 222 | Null Values Profitability: 39
Dataset: 223 | Null Values Profitability: 43
Dataset: 224 | Null Values Profitability: 43
Dataset: 225 | Null Values Profitability: 39
Dataset: 226 | Null Values Profitability: 31
Dataset: 227 | Null Values Profitability: 58
Dataset: 228 | Null Values Profitability: 31
Dataset: 229 | Null Values Profitability: 43
Dataset: 230 | Null Values Profitability: 43
Dataset: 231 | Null Values Profitability: 51
Dataset: 232 | Null Values Profitability: 51
Dataset: 233 | Null Values Profitability: 43
Dataset: 234 | Null Values Profitability: 16
Dataset: 235 | Null Values Profitability: 63
Dataset: 236 | Null Values Profitability: 39
Dataset: 237 | Null Values Profitability: 31
Dataset: 238 | Null Values Profitability: 31
Dataset: 239 | Null Values Profitability: 31
Dataset: 240 | Null Values Profitability: 31
Dataset: 241 | Null Values Profitability: 31
Dataset: 242 | Null Values Profitability: 85
Dataset: 243 | Null Values Profitability: 51
Dataset: 244 | Null Values Profitability: 52
Dataset: 245 | Null Values Profitability: 16
Dataset: 246 | Null Values Profitability: 31
Dataset: 247 | Null Values Profitability: 32
Dataset: 248 | Null Values Profitability: 57
Dataset: 249 | Null Values Profitability: 51
Dataset: 250 | Null Values Profitability: 39
Dataset: 251 | Null Values Profitability: 52
Dataset: 252 | Null Values Profitability: 39
Dataset: 253 | Null Values Profitability: 51
Dataset: 254 | Null Values Profitability: 51
Dataset: 255 | Null Values Profitability: 31
Dataset: 256 | Null Values Profitability: 39
Dataset: 257 | Null Values Profitability: 31
Dataset: 258 | Null Values Profitability: 31
Dataset: 259 | Null Values Profitability: 39
Dataset: 260 | Null Values Profitability: 53
Dataset: 261 | Null Values Profitability: 31
Dataset: 262 | Null Values Profitability: 31
Dataset: 263 | Null Values Profitability: 43
Dataset: 264 | Null Values Profitability: 53
Dataset: 265 | Null Values Profitability: 31
Dataset: 266 | Null Values Profitability: 17
Dataset: 267 | Null Values Profitability: 52
Dataset: 268 | Null Values Profitability: 39
Dataset: 269 | Null Values Profitability: 91
Dataset: 270 | Null Values Profitability: 31
Dataset: 271 | Null Values Profitability: 88
Dataset: 272 | Null Values Profitability: 43
Dataset: 273 | Null Values Profitability: 39
Dataset: 274 | Null Values Profitability: 29
Dataset: 275 | Null Values Profitability: 39
Dataset: 276 | Null Values Profitability: 39
Dataset: 277 | Null Values Profitability: 40
Dataset: 278 | Null Values Profitability: 52
Dataset: 279 | Null Values Profitability: 16
Dataset: 280 | Null Values Profitability: 39
Dataset: 281 | Null Values Profitability: 39
Dataset: 282 | Null Values Profitability: 31
Dataset: 283 | Null Values Profitability: 31
Dataset: 284 | Null Values Profitability: 39
Dataset: 285 | Null Values Profitability: 39
Dataset: 286 | Null Values Profitability: 31
Dataset: 287 | Null Values Profitability: 51
Dataset: 288 | Null Values Profitability: 52
Dataset: 289 | Null Values Profitability: 58
Dataset: 290 | Null Values Profitability: 39
Dataset: 291 | Null Values Profitability: 29
Dataset: 292 | Null Values Profitability: 43
Dataset: 293 | Null Values Profitability: 51
Dataset: 294 | Null Values Profitability: 31
Dataset: 295 | Null Values Profitability: 43
Dataset: 296 | Null Values Profitability: 31
Dataset: 297 | Null Values Profitability: 43
Dataset: 298 | Null Values Profitability: 29
Dataset: 299 | Null Values Profitability: 39
Dataset: 300 | Null Values Profitability: 31
Dataset: 301 | Null Values Profitability: 39
Dataset: 302 | Null Values Profitability: 43
Dataset: 303 | Null Values Profitability: 229
Dataset: 304 | Null Values Profitability: 31
Dataset: 305 | Null Values Profitability: 51
Dataset: 306 | Null Values Profitability: 35
Dataset: 307 | Null Values Profitability: 43
Dataset: 308 | Null Values Profitability: 31
Dataset: 309 | Null Values Profitability: 39
Dataset: 310 | Null Values Profitability: 51
Dataset: 311 | Null Values Profitability: 51
Dataset: 312 | Null Values Profitability: 107
Dataset: 313 | Null Values Profitability: 39
Dataset: 314 | Null Values Profitability: 31
Dataset: 315 | Null Values Profitability: 52
Dataset: 316 | Null Values Profitability: 31
Dataset: 317 | Null Values Profitability: 39
Dataset: 318 | Null Values Profitability: 39
Dataset: 319 | Null Values Profitability: 36
Dataset: 320 | Null Values Profitability: 36
Dataset: 321 | Null Values Profitability: 53
Dataset: 322 | Null Values Profitability: 24
Dataset: 323 | Null Values Profitability: 31
Dataset: 324 | Null Values Profitability: 39
Dataset: 325 | Null Values Profitability: 43
Dataset: 326 | Null Values Profitability: 16
Dataset: 327 | Null Values Profitability: 58
Dataset: 328 | Null Values Profitability: 58
Dataset: 329 | Null Values Profitability: 40
Dataset: 330 | Null Values Profitability: 39
Dataset: 331 | Null Values Profitability: 16
Dataset: 332 | Null Values Profitability: 39
Dataset: 333 | Null Values Profitability: 24
Dataset: 334 | Null Values Profitability: 109
Dataset: 335 | Null Values Profitability: 39
Dataset: 336 | Null Values Profitability: 43
Dataset: 337 | Null Values Profitability: 43
Dataset: 338 | Null Values Profitability: 39
Dataset: 339 | Null Values Profitability: 43
Dataset: 340 | Null Values Profitability: 46
Dataset: 341 | Null Values Profitability: 43
Dataset: 342 | Null Values Profitability: 31
Dataset: 343 | Null Values Profitability: 31
Dataset: 344 | Null Values Profitability: 51
Dataset: 345 | Null Values Profitability: 43
Dataset: 346 | Null Values Profitability: 39
Dataset: 347 | Null Values Profitability: 52
Dataset: 348 | Null Values Profitability: 39
Dataset: 349 | Null Values Profitability: 24
Dataset: 350 | Null Values Profitability: 43
Dataset: 351 | Null Values Profitability: 39
Dataset: 352 | Null Values Profitability: 52
Dataset: 353 | Null Values Profitability: 39
Dataset: 354 | Null Values Profitability: 43
Dataset: 355 | Null Values Profitability: 31
Dataset: 356 | Null Values Profitability: 52
Dataset: 357 | Null Values Profitability: 43
Dataset: 358 | Null Values Profitability: 52
Dataset: 359 | Null Values Profitability: 39
Dataset: 360 | Null Values Profitability: 39
Dataset: 361 | Null Values Profitability: 39
Dataset: 362 | Null Values Profitability: 39

Dataset: 363 | Null Values Profitability: 85
Dataset: 364 | Null Values Profitability: 52
Dataset: 365 | Null Values Profitability: 51
Dataset: 366 | Null Values Profitability: 52
Dataset: 367 | Null Values Profitability: 39
Dataset: 368 | Null Values Profitability: 39
Dataset: 369 | Null Values Profitability: 31
Dataset: 370 | Null Values Profitability: 52
Dataset: 371 | Null Values Profitability: 31
Dataset: 372 | Null Values Profitability: 40
Dataset: 373 | Null Values Profitability: 31
Dataset: 374 | Null Values Profitability: 43
Dataset: 375 | Null Values Profitability: 39
Dataset: 376 | Null Values Profitability: 39
Dataset: 377 | Null Values Profitability: 63
Dataset: 378 | Null Values Profitability: 39
Dataset: 379 | Null Values Profitability: 31
Dataset: 380 | Null Values Profitability: 39
Dataset: 381 | Null Values Profitability: 31
Dataset: 382 | Null Values Profitability: 39
Dataset: 383 | Null Values Profitability: 39
Dataset: 384 | Null Values Profitability: 52
Dataset: 385 | Null Values Profitability: 52
Dataset: 386 | Null Values Profitability: 24
Dataset: 387 | Null Values Profitability: 39
Dataset: 388 | Null Values Profitability: 31
Dataset: 389 | Null Values Profitability: 31
Dataset: 390 | Null Values Profitability: 80
Dataset: 391 | Null Values Profitability: 88
Dataset: 392 | Null Values Profitability: 52
Dataset: 393 | Null Values Profitability: 39
Dataset: 394 | Null Values Profitability: 52
Dataset: 395 | Null Values Profitability: 40
Dataset: 396 | Null Values Profitability: 39
Dataset: 397 | Null Values Profitability: 40
Dataset: 398 | Null Values Profitability: 16
Dataset: 399 | Null Values Profitability: 164
Dataset: 400 | Null Values Profitability: 39
Dataset: 401 | Null Values Profitability: 39
Dataset: 402 | Null Values Profitability: 58
Dataset: 403 | Null Values Profitability: 39
Dataset: 404 | Null Values Profitability: 39
Dataset: 405 | Null Values Profitability: 31
Dataset: 406 | Null Values Profitability: 39
Dataset: 407 | Null Values Profitability: 39
Dataset: 408 | Null Values Profitability: 153
Dataset: 409 | Null Values Profitability: 52
Dataset: 410 | Null Values Profitability: 39
Dataset: 411 | Null Values Profitability: 31
Dataset: 412 | Null Values Profitability: 242
Dataset: 413 | Null Values Profitability: 40
Dataset: 414 | Null Values Profitability: 58
Dataset: 415 | Null Values Profitability: 39
Dataset: 416 | Null Values Profitability: 31
Dataset: 417 | Null Values Profitability: 31
Dataset: 418 | Null Values Profitability: 43
Dataset: 419 | Null Values Profitability: 51
Dataset: 420 | Null Values Profitability: 51
Dataset: 421 | Null Values Profitability: 31
Dataset: 422 | Null Values Profitability: 51
Dataset: 423 | Null Values Profitability: 39
Dataset: 424 | Null Values Profitability: 55
Dataset: 425 | Null Values Profitability: 43
Dataset: 426 | Null Values Profitability: 52
Dataset: 427 | Null Values Profitability: 52
Dataset: 428 | Null Values Profitability: 31
Dataset: 429 | Null Values Profitability: 51
Dataset: 430 | Null Values Profitability: 51
Dataset: 431 | Null Values Profitability: 51
Dataset: 432 | Null Values Profitability: 56
Dataset: 433 | Null Values Profitability: 31
Dataset: 434 | Null Values Profitability: 39
Dataset: 435 | Null Values Profitability: 43
Dataset: 436 | Null Values Profitability: 51
Dataset: 437 | Null Values Profitability: 39
Dataset: 438 | Null Values Profitability: 39
Dataset: 439 | Null Values Profitability: 39
Dataset: 440 | Null Values Profitability: 43
Dataset: 441 | Null Values Profitability: 43
Dataset: 442 | Null Values Profitability: 39
Dataset: 443 | Null Values Profitability: 43
Dataset: 444 | Null Values Profitability: 51
Dataset: 445 | Null Values Profitability: 51
Dataset: 446 | Null Values Profitability: 31
Dataset: 447 | Null Values Profitability: 51
Dataset: 448 | Null Values Profitability: 51
Dataset: 449 | Null Values Profitability: 39
Dataset: 450 | Null Values Profitability: 107
Dataset: 451 | Null Values Profitability: 152
Dataset: 452 | Null Values Profitability: 54
Dataset: 453 | Null Values Profitability: 51
Dataset: 454 | Null Values Profitability: 51
Dataset: 455 | Null Values Profitability: 36
Dataset: 456 | Null Values Profitability: 36
Dataset: 457 | Null Values Profitability: 52
Dataset: 458 | Null Values Profitability: 55
Dataset: 459 | Null Values Profitability: 31
Dataset: 460 | Null Values Profitability: 39
Dataset: 461 | Null Values Profitability: 39
Dataset: 462 | Null Values Profitability: 58
Dataset: 463 | Null Values Profitability: 52
Dataset: 464 | Null Values Profitability: 52
Dataset: 465 | Null Values Profitability: 174
Dataset: 466 | Null Values Profitability: 43
Dataset: 467 | Null Values Profitability: 39
Dataset: 468 | Null Values Profitability: 58
Dataset: 469 | Null Values Profitability: 43
Dataset: 470 | Null Values Profitability: 31
Dataset: 471 | Null Values Profitability: 39
Dataset: 472 | Null Values Profitability: 33
Dataset: 473 | Null Values Profitability: 39
Dataset: 474 | Null Values Profitability: 51
Dataset: 475 | Null Values Profitability: 31
Dataset: 476 | Null Values Profitability: 39
Dataset: 477 | Null Values Profitability: 24
Dataset: 478 | Null Values Profitability: 246
Dataset: 479 | Null Values Profitability: 39
Dataset: 480 | Null Values Profitability: 51
Dataset: 481 | Null Values Profitability: 51
Dataset: 482 | Null Values Profitability: 31
Dataset: 483 | Null Values Profitability: 39
Dataset: 484 | Null Values Profitability: 39
Dataset: 485 | Null Values Profitability: 70
Dataset: 486 | Null Values Profitability: 39
Dataset: 487 | Null Values Profitability: 31
Dataset: 488 | Null Values Profitability: 43
Dataset: 489 | Null Values Profitability: 31
Dataset: 490 | Null Values Profitability: 31
Dataset: 491 | Null Values Profitability: 39
Dataset: 492 | Null Values Profitability: 39
Dataset: 493 | Null Values Profitability: 51
Dataset: 494 | Null Values Profitability: 24
Dataset: 495 | Null Values Profitability: 39
Dataset: 496 | Null Values Profitability: 29
Dataset: 497 | Null Values Profitability: 53
Dataset: 498 | Null Values Profitability: 29
Dataset: 499 | Null Values Profitability: 31
Dataset: 500 | Null Values Profitability: 39
Dataset: 501 | Null Values Profitability: 39
Dataset: 502 | Null Values Profitability: 39
Dataset: 503 | Null Values Profitability: 31
Dataset: 504 | Null Values Profitability: 53
Dataset: 505 | Null Values Profitability: 39
Dataset: 506 | Null Values Profitability: 43
Dataset: 507 | Null Values Profitability: 43
Dataset: 508 | Null Values Profitability: 145
Dataset: 509 | Null Values Profitability: 52
Dataset: 510 | Null Values Profitability: 43
Dataset: 511 | Null Values Profitability: 52
Dataset: 512 | Null Values Profitability: 43
Dataset: 513 | Null Values Profitability: 32
Dataset: 514 | Null Values Profitability: 36
Dataset: 515 | Null Values Profitability: 37
Dataset: 516 | Null Values Profitability: 51
Dataset: 517 | Null Values Profitability: 31
Dataset: 518 | Null Values Profitability: 39
Dataset: 519 | Null Values Profitability: 31
Dataset: 520 | Null Values Profitability: 53
Dataset: 521 | Null Values Profitability: 52
Dataset: 522 | Null Values Profitability: 31
Dataset: 523 | Null Values Profitability: 58
Dataset: 524 | Null Values Profitability: 24
Dataset: 525 | Null Values Profitability: 31
Dataset: 526 | Null Values Profitability: 51
Dataset: 527 | Null Values Profitability: 31
Dataset: 528 | Null Values Profitability: 36
Dataset: 529 | Null Values Profitability: 36
Dataset: 530 | Null Values Profitability: 58
Dataset: 531 | Null Values Profitability: 31
Dataset: 532 | Null Values Profitability: 252
Dataset: 533 | Null Values Profitability: 39
Dataset: 534 | Null Values Profitability: 94
Dataset: 535 | Null Values Profitability: 58
Dataset: 536 | Null Values Profitability: 43
Dataset: 537 | Null Values Profitability: 39
Dataset: 538 | Null Values Profitability: 31
Dataset: 539 | Null Values Profitability: 51
Dataset: 540 | Null Values Profitability: 51
Dataset: 541 | Null Values Profitability: 63
Dataset: 542 | Null Values Profitability: 17
Dataset: 543 | Null Values Profitability: 86
Dataset: 544 | Null Values Profitability: 120
Dataset: 545 | Null Values Profitability: 31
Dataset: 546 | Null Values Profitability: 31
Dataset: 547 | Null Values Profitability: 208
Dataset: 548 | Null Values Profitability: 53
Dataset: 549 | Null Values Profitability: 36
Dataset: 550 | Null Values Profitability: 16
Dataset: 551 | Null Values Profitability: 43
Dataset: 552 | Null Values Profitability: 51
Dataset: 553 | Null Values Profitability: 51
Dataset: 554 | Null Values Profitability: 39
Dataset: 555 | Null Values Profitability: 43
Dataset: 556 | Null Values Profitability: 51
Dataset: 557 | Null Values Profitability: 55
Dataset: 558 | Null Values Profitability: 39
Dataset: 559 | Null Values Profitability: 24
Dataset: 560 | Null Values Profitability: 39
Dataset: 561 | Null Values Profitability: 51
Dataset: 562 | Null Values Profitability: 51
Dataset: 563 | Null Values Profitability: 55
Dataset: 564 | Null Values Profitability: 53
Dataset: 565 | Null Values Profitability: 16
Dataset: 566 | Null Values Profitability: 39
Dataset: 567 | Null Values Profitability: 34
Dataset: 568 | Null Values Profitability: 55
Dataset: 569 | Null Values Profitability: 55
Dataset: 570 | Null Values Profitability: 174
Dataset: 571 | Null Values Profitability: 50
Dataset: 572 | Null Values Profitability: 58
Dataset: 573 | Null Values Profitability: 31
Dataset: 574 | Null Values Profitability: 39
Dataset: 575 | Null Values Profitability: 39
Dataset: 576 | Null Values Profitability: 39
Dataset: 577 | Null Values Profitability: 31
Dataset: 578 | Null Values Profitability: 63
Dataset: 579 | Null Values Profitability: 87
Dataset: 580 | Null Values Profitability: 32
Dataset: 581 | Null Values Profitability: 53
Dataset: 582 | Null Values Profitability: 31
Dataset: 583 | Null Values Profitability: 39
Dataset: 584 | Null Values Profitability: 39
Dataset: 585 | Null Values Profitability: 43
Dataset: 586 | Null Values Profitability: 39
Dataset: 587 | Null Values Profitability: 39
Dataset: 588 | Null Values Profitability: 51
Dataset: 589 | Null Values Profitability: 242
Dataset: 590 | Null Values Profitability: 39
Dataset: 591 | Null Values Profitability: 31
Dataset: 592 | Null Values Profitability: 29
Dataset: 593 | Null Values Profitability: 51
Dataset: 594 | Null Values Profitability: 39
Dataset: 595 | Null Values Profitability: 55
Dataset: 596 | Null Values Profitability: 29
Dataset: 597 | Null Values Profitability: 31
Dataset: 598 | Null Values Profitability: 52
Dataset: 599 | Null Values Profitability: 63
Dataset: 600 | Null Values Profitability: 58
Dataset: 601 | Null Values Profitability: 39
Dataset: 602 | Null Values Profitability: 31
Dataset: 603 | Null Values Profitability: 39
Dataset: 604 | Null Values Profitability: 39
Dataset: 605 | Null Values Profitability: 31
Dataset: 606 | Null Values Profitability: 24
Dataset: 607 | Null Values Profitability: 53
Dataset: 608 | Null Values Profitability: 31
Dataset: 609 | Null Values Profitability: 39
Dataset: 610 | Null Values Profitability: 31
Dataset: 611 | Null Values Profitability: 31
Dataset: 612 | Null Values Profitability: 31
Dataset: 613 | Null Values Profitability: 29
Dataset: 614 | Null Values Profitability: 43
Dataset: 615 | Null Values Profitability: 31
Dataset: 616 | Null Values Profitability: 51
Dataset: 617 | Null Values Profitability: 39
Dataset: 618 | Null Values Profitability: 39
Dataset: 619 | Null Values Profitability: 31
Dataset: 620 | Null Values Profitability: 39
Dataset: 621 | Null Values Profitability: 39
Dataset: 622 | Null Values Profitability: 31
Dataset: 623 | Null Values Profitability: 58
Dataset: 624 | Null Values Profitability: 36
Dataset: 625 | Null Values Profitability: 36
Dataset: 626 | Null Values Profitability: 39
Dataset: 627 | Null Values Profitability: 93
Dataset: 628 | Null Values Profitability: 215
Dataset: 629 | Null Values Profitability: 43
Dataset: 630 | Null Values Profitability: 39
Dataset: 631 | Null Values Profitability: 120
Dataset: 632 | Null Values Profitability: 31
Dataset: 633 | Null Values Profitability: 39
Dataset: 634 | Null Values Profitability: 39
Dataset: 635 | Null Values Profitability: 31
Dataset: 636 | Null Values Profitability: 43
Dataset: 637 | Null Values Profitability: 31
Dataset: 638 | Null Values Profitability: 39
Dataset: 639 | Null Values Profitability: 51
Dataset: 640 | Null Values Profitability: 52
Dataset: 641 | Null Values Profitability: 31
Dataset: 642 | Null Values Profitability: 31
Dataset: 643 | Null Values Profitability: 39
Dataset: 644 | Null Values Profitability: 53
Dataset: 645 | Null Values Profitability: 51
Dataset: 646 | Null Values Profitability: 16
Dataset: 647 | Null Values Profitability: 31
Dataset: 648 | Null Values Profitability: 52
Dataset: 649 | Null Values Profitability: 43
Dataset: 650 | Null Values Profitability: 239
Dataset: 651 | Null Values Profitability: 31
Dataset: 652 | Null Values Profitability: 39
Dataset: 653 | Null Values Profitability: 52
Dataset: 654 | Null Values Profitability: 53
Dataset: 655 | Null Values Profitability: 51
Dataset: 656 | Null Values Profitability: 51
Dataset: 657 | Null Values Profitability: 51
Dataset: 658 | Null Values Profitability: 51
Dataset: 659 | Null Values Profitability: 31

Dataset: 660 | Null Values Profitability: 31
Dataset: 661 | Null Values Profitability: 43
Dataset: 662 | Null Values Profitability: 39
Dataset: 663 | Null Values Profitability: 52
Dataset: 664 | Null Values Profitability: 52
Dataset: 665 | Null Values Profitability: 31
Dataset: 666 | Null Values Profitability: 31
Dataset: 667 | Null Values Profitability: 58
Dataset: 668 | Null Values Profitability: 39
Dataset: 669 | Null Values Profitability: 39
Dataset: 670 | Null Values Profitability: 43
Dataset: 671 | Null Values Profitability: 31
Dataset: 672 | Null Values Profitability: 31
Dataset: 673 | Null Values Profitability: 39
Dataset: 674 | Null Values Profitability: 51
Dataset: 675 | Null Values Profitability: 51
Dataset: 676 | Null Values Profitability: 235
Dataset: 677 | Null Values Profitability: 39
Dataset: 678 | Null Values Profitability: 52
Dataset: 679 | Null Values Profitability: 39
Dataset: 680 | Null Values Profitability: 211
Dataset: 681 | Null Values Profitability: 39
Dataset: 682 | Null Values Profitability: 43
Dataset: 683 | Null Values Profitability: 51
Dataset: 684 | Null Values Profitability: 51
Dataset: 685 | Null Values Profitability: 58
Dataset: 686 | Null Values Profitability: 31
Dataset: 687 | Null Values Profitability: 52
Dataset: 688 | Null Values Profitability: 52
Dataset: 689 | Null Values Profitability: 39
Dataset: 690 | Null Values Profitability: 250
Dataset: 691 | Null Values Profitability: 39
Dataset: 692 | Null Values Profitability: 51
Dataset: 693 | Null Values Profitability: 51
Dataset: 694 | Null Values Profitability: 39
Dataset: 695 | Null Values Profitability: 39
Dataset: 696 | Null Values Profitability: 39
Dataset: 697 | Null Values Profitability: 43
Dataset: 698 | Null Values Profitability: 53
Dataset: 699 | Null Values Profitability: 52
Dataset: 700 | Null Values Profitability: 31
Dataset: 701 | Null Values Profitability: 31
Dataset: 702 | Null Values Profitability: 31
Dataset: 703 | Null Values Profitability: 36
Dataset: 704 | Null Values Profitability: 36
Dataset: 705 | Null Values Profitability: 31
Dataset: 706 | Null Values Profitability: 43
Dataset: 707 | Null Values Profitability: 24
Dataset: 708 | Null Values Profitability: 137
Dataset: 709 | Null Values Profitability: 55
Dataset: 710 | Null Values Profitability: 39
Dataset: 711 | Null Values Profitability: 43
Dataset: 712 | Null Values Profitability: 51
Dataset: 713 | Null Values Profitability: 51
Dataset: 714 | Null Values Profitability: 39
Dataset: 715 | Null Values Profitability: 39
Dataset: 716 | Null Values Profitability: 74
Dataset: 717 | Null Values Profitability: 51
Dataset: 718 | Null Values Profitability: 51
Dataset: 719 | Null Values Profitability: 39
Dataset: 720 | Null Values Profitability: 39
Dataset: 721 | Null Values Profitability: 39
Dataset: 722 | Null Values Profitability: 29
Dataset: 723 | Null Values Profitability: 52
Dataset: 724 | Null Values Profitability: 39
Dataset: 725 | Null Values Profitability: 39
Dataset: 726 | Null Values Profitability: 39
Dataset: 727 | Null Values Profitability: 53
Dataset: 728 | Null Values Profitability: 51
Dataset: 729 | Null Values Profitability: 39
Dataset: 730 | Null Values Profitability: 31
Dataset: 731 | Null Values Profitability: 39
Dataset: 732 | Null Values Profitability: 36
Dataset: 733 | Null Values Profitability: 63
Dataset: 734 | Null Values Profitability: 31
Dataset: 735 | Null Values Profitability: 53
Dataset: 736 | Null Values Profitability: 51
Dataset: 737 | Null Values Profitability: 51
Dataset: 738 | Null Values Profitability: 39
Dataset: 739 | Null Values Profitability: 31
Dataset: 740 | Null Values Profitability: 52
Dataset: 741 | Null Values Profitability: 52
Dataset: 742 | Null Values Profitability: 39
Dataset: 743 | Null Values Profitability: 29
Dataset: 744 | Null Values Profitability: 58
Dataset: 745 | Null Values Profitability: 43
Dataset: 746 | Null Values Profitability: 29
Dataset: 747 | Null Values Profitability: 40
Dataset: 748 | Null Values Profitability: 24
Dataset: 749 | Null Values Profitability: 40
Dataset: 750 | Null Values Profitability: 39
Dataset: 751 | Null Values Profitability: 31
Dataset: 752 | Null Values Profitability: 36
Dataset: 753 | Null Values Profitability: 31
Dataset: 754 | Null Values Profitability: 43
Dataset: 755 | Null Values Profitability: 53
Dataset: 756 | Null Values Profitability: 52
Dataset: 757 | Null Values Profitability: 52
Dataset: 758 | Null Values Profitability: 85
Dataset: 759 | Null Values Profitability: 51
Dataset: 760 | Null Values Profitability: 39
Dataset: 761 | Null Values Profitability: 31
Dataset: 762 | Null Values Profitability: 31
Dataset: 763 | Null Values Profitability: 53
Dataset: 764 | Null Values Profitability: 39
Dataset: 765 | Null Values Profitability: 39
Dataset: 766 | Null Values Profitability: 106
Dataset: 767 | Null Values Profitability: 63
Dataset: 768 | Null Values Profitability: 43
Dataset: 769 | Null Values Profitability: 31
Dataset: 770 | Null Values Profitability: 39
Dataset: 771 | Null Values Profitability: 31
Dataset: 772 | Null Values Profitability: 39
Dataset: 773 | Null Values Profitability: 53
Dataset: 774 | Null Values Profitability: 31
Dataset: 775 | Null Values Profitability: 58
Dataset: 776 | Null Values Profitability: 91
Dataset: 777 | Null Values Profitability: 39
Dataset: 778 | Null Values Profitability: 31
Dataset: 779 | Null Values Profitability: 52
Dataset: 780 | Null Values Profitability: 39
Dataset: 781 | Null Values Profitability: 58
Dataset: 782 | Null Values Profitability: 39
Dataset: 783 | Null Values Profitability: 39
Dataset: 784 | Null Values Profitability: 43
Dataset: 785 | Null Values Profitability: 51
Dataset: 786 | Null Values Profitability: 31
Dataset: 787 | Null Values Profitability: 39
Dataset: 788 | Null Values Profitability: 51
Dataset: 789 | Null Values Profitability: 51
Dataset: 790 | Null Values Profitability: 16
Dataset: 791 | Null Values Profitability: 39
Dataset: 792 | Null Values Profitability: 24
Dataset: 793 | Null Values Profitability: 31
Dataset: 794 | Null Values Profitability: 51
Dataset: 795 | Null Values Profitability: 51
Dataset: 796 | Null Values Profitability: 39
Dataset: 797 | Null Values Profitability: 39
Dataset: 798 | Null Values Profitability: 31
Dataset: 799 | Null Values Profitability: 31
Dataset: 800 | Null Values Profitability: 86
Dataset: 801 | Null Values Profitability: 39
Dataset: 802 | Null Values Profitability: 51
Dataset: 803 | Null Values Profitability: 31
Dataset: 804 | Null Values Profitability: 39
Dataset: 805 | Null Values Profitability: 43
Dataset: 806 | Null Values Profitability: 39
Dataset: 807 | Null Values Profitability: 51
Dataset: 808 | Null Values Profitability: 51
Dataset: 809 | Null Values Profitability: 51
Dataset: 810 | Null Values Profitability: 39
Dataset: 811 | Null Values Profitability: 63
Dataset: 812 | Null Values Profitability: 31
Dataset: 813 | Null Values Profitability: 36
Dataset: 814 | Null Values Profitability: 36
Dataset: 815 | Null Values Profitability: 63
Dataset: 816 | Null Values Profitability: 31
Dataset: 817 | Null Values Profitability: 31
Dataset: 818 | Null Values Profitability: 31
Dataset: 819 | Null Values Profitability: 43
Dataset: 820 | Null Values Profitability: 39
Dataset: 821 | Null Values Profitability: 63
Dataset: 822 | Null Values Profitability: 52
Dataset: 823 | Null Values Profitability: 43
Dataset: 824 | Null Values Profitability: 43
Dataset: 825 | Null Values Profitability: 31
Dataset: 826 | Null Values Profitability: 39
Dataset: 827 | Null Values Profitability: 58
Dataset: 828 | Null Values Profitability: 151
Dataset: 829 | Null Values Profitability: 43
Dataset: 830 | Null Values Profitability: 47
Dataset: 831 | Null Values Profitability: 43
Dataset: 832 | Null Values Profitability: 32
Dataset: 833 | Null Values Profitability: 39
Dataset: 834 | Null Values Profitability: 31
Dataset: 835 | Null Values Profitability: 63
Dataset: 836 | Null Values Profitability: 130
Dataset: 837 | Null Values Profitability: 31
Dataset: 838 | Null Values Profitability: 31
Dataset: 839 | Null Values Profitability: 39
Dataset: 840 | Null Values Profitability: 39
Dataset: 841 | Null Values Profitability: 51
Dataset: 842 | Null Values Profitability: 39
Dataset: 843 | Null Values Profitability: 53
Dataset: 844 | Null Values Profitability: 43
Dataset: 845 | Null Values Profitability: 31
Dataset: 846 | Null Values Profitability: 51
Dataset: 847 | Null Values Profitability: 51

In [ ]:
test[0][test[0]['Profitability'].isnull()]

## **Siguientes Pasos:**
### Mirar si estan todos los dias o cuales faltan (Hecho)
### Añadir dias que faltan (Hecho)
### Crear columna weekday (HECHO)
### Holiday (Hecho)
### sabados y domingos y holidays rentabilidad 0 (HECHO)
### Crear columna Mes (Hecho)
### Crear columna Año Mes (Hecho)
# **Funcion de Manuel (NAs)**
### Aplicar medias moviles exponenciales PROBELMA!!!!!
## Rentabilidad media por Mes y la desviacion standard por mes
### Repasar por que no aparece toda la company values (hemos hecho el merge de fechas)

# Jose - Coger código de LSTM (MBIT)
# Jose - Aplicarlo a 1 dataset = dataframes[0]

# Alberto - Buscar INformación de que hacer con las ventanas en series temporales 
### Ventana = serie temporal con NAs en Profitability seguidos

# Cual serí al mejor método de imputación